<div class="grid-container">
  <h1 class="mat-h1">Sobre o projeto</h1>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title> Projeto Angular 11 </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div class="content">
        O projeto visa desenvolver uma aplicação separa em módulos, para que
        seja possível utlizar o lazy-loading e carregar apenas o módulo que o
        usuário está navegando.
      </div>
    </mat-card-content>
  </mat-card>
</div>
